<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Shop Now</title>
  <!----- LINKS ------->
  <link rel="stylesheet" href="/public/css/bootstrap.min.css" type="text/css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />

  <link rel="stylesheet" href="/public/css/owl.carousel_.min.css" type="text/css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    type="text/css">
  <link rel="stylesheet" href="/public/css/style.css" type="text/css" />
  <link rel="stylesheet" href="/public/css/responsive.css" type="text/css" />
  <link rel="stylesheet" href="/public/css/tel.css" type="text/css" />
  <link rel="stylesheet" href="/public/css/head.css" type="text/css" />
  <link rel="stylesheet" href="/public/css/home.css" type="text/css" />
</head>

<body class="body">

  <!---HEADER --->
  <header class="nav navbar sticky-top" style="background-color:#ff3399">
    <div class="container">
      <div class="row align-center">
        <div class="col-md-2">
          <div class="logo common-logo">
            <a href="/"><img src="/public/images/logo_1.png" alt="Logo"></a>
          </div>
          <!----- for fixed header logo--->
          <div class="logo fixed-header-logo">
            <a href="/"><img src="/public/images/Logo-PNG-12.png" alt="Logo"></a>
          </div>
        </div>
        <!--LOGO--->
        <div class="col-md-6 search-row">
          <div class="top-search-bar">
            <form>
              <div class="input-group">
                <input type="text_1" class="form-control" placeholder="Search this blog">
                <div class="input-group-append">
                  <button class="btn btn-secondary" type="button" style="font-size: 20px;">
                    <i class="fa fa-search"></i>
                  </button>
                </div>
            </form>
          </div>
        </div>
      </div>
      <!--SEARCH--->

      <div class="col-md-4">
        <div class="header-right">
          <ul>
            <li><a href="#"><i class="fa fa-user"></i></a></li>
            <li><a href="#"><i class="fa fa-heart-o"></i></a></li>
            <li><a href="/cart/"><i class="fa fa-shopping-cart"></i> </a></li>
            <li><a href="#"> Login / Register </a></li>
          </ul>
        </div>

      </div>
      <!--RIGHT HEADER--->


    </div>
    </div>
  </header>

  <!---END HEADER --->


  <!---TOP CATEGORY NEW --->

  <div class="container" style="font-size:15px;">
    <div class="row mt-1 d-flex justify-content-between">
      <div class="">CartTray</div>
      <div class=""><a href="/"> Back</a></div>
    </div>
  </div>

  <div class="container mt-3">
    <div class="row">
      <div class=" card col-md-3">
        <div class="row mt-4">
          <span class="mx-4">Exclude out of stock items</span>
          <label class="switch mt-2 mx-2">
            <input type="checkbox" checked>
            <span class="slider round"></span>
          </label>
        </div>
        <p class="mt-2">SORT BY</p>

        <select class="form-select" aria-label="Default select example">
          <option selected>Featured</option>
          <option value="1">Latest Arrival</option>
          <option value="2">Price (Highest First)</option>
          <option value="3">Price (Lowest First)</option>
          <option value="4">Discount (Descending)</option>
          <option value="5">Top Rated</option>
        </select>

        <hr>

        <p class="mt-2">FILTER BY</p>
        <hr>
        <button class="collapsible">Categary</button>
        <div class="content">
          <form>
            <input type="text" class="fa fa-search" name="search" placeholder="Search..">
          </form>
          <hr>
          <div class="">
            <div class="checkbox checkbox-1">
              <input type="checkbox" id="checkbox-1" />
              <label for="checkbox-1">4K Ultra HD TVs (124)</label>
            </div>
            <div class="checkbox checkbox-2">
              <input type="checkbox" id="checkbox-2" />
              <label for="checkbox-2">Large Screen TVs (70)</label>
            </div>

            <div class="checkbox checkbox-1">
              <input type="checkbox" id="checkbox-1" />
              <label for="checkbox-1">Android Smart TVs (61)</label>
            </div>
            <div class="checkbox checkbox-2">
              <input type="checkbox" id="checkbox-2" />
              <label for="checkbox-2">Medium Screen TVs (56)</label>
            </div>
            <div class="checkbox checkbox-1">
              <input type="checkbox" id="checkbox-1" />
              <label for="checkbox-1">Smart TVs (45)</label>
            </div>
            <div class="checkbox checkbox-2">
              <input type="checkbox" id="checkbox-2" />
              <label for="checkbox-2">HD Ready TVs (31)</label>
            </div>
          </div>
        </div>
        <hr>


        <button class="collapsible">Price</button>
        <div class="content">
          <form>
            <input type="text" class="fa fa-search" name="search" placeholder="Search..">
          </form>
          <hr>
          <div class="">
            <div class="checkbox checkbox-1">
              <input type="checkbox" id="checkbox-1" />
              <label for="checkbox-1">500</label>-<label for="checkbox-1">1000 (122) </label>
            </div>
            <div class="checkbox checkbox-1">
              <input type="checkbox" id="checkbox-1" />
              <label for="checkbox-1">1000</label>-<label for="checkbox-1">1500 (99)</label>
            </div>

            <div class="checkbox checkbox-1">
              <input type="checkbox" id="checkbox-1" />
              <label for="checkbox-1">1500</label>-<label for="checkbox-1">2000 (66)</label>
            </div>
            <div class="checkbox checkbox-1">
              <input type="checkbox" id="checkbox-1" />
              <label for="checkbox-1">2000</label>-<label for="checkbox-1">3000 (23)</label>
            </div>
            <div class="checkbox checkbox-1">
              <input type="checkbox" id="checkbox-1" />
              <label for="checkbox-1">3000</label>-<label for="checkbox-1">4000 (123)</label>
            </div>
            <div class="checkbox checkbox-1">
              <input type="checkbox" id="checkbox-1" />
              <label for="checkbox-1">5000</label>-<label for="checkbox-1">6000 (22)</label>
            </div>
            <div class="checkbox checkbox-1">
              <input type="checkbox" id="checkbox-1" />
              <label for="checkbox-1">7000</label>-<label for="checkbox-1">8000 (79)</label>
            </div>
            <div class="checkbox checkbox-1">
              <input type="checkbox" id="checkbox-1" />
              <label for="checkbox-1"> 8000</label>-<label for="checkbox-1">10000 (100)</label>
            </div>
            <div class="checkbox checkbox-1">
              <input type="checkbox" id="checkbox-1" />
              <label for="checkbox-1">10000</label>-<label for="checkbox-1">15000 (77)</label>
            </div>
            <div class="checkbox checkbox-1">
              <input type="checkbox" id="checkbox-1" />
              <label for="checkbox-1">15000</label>-<label for="checkbox-1">30000 (33)</label>
            </div>
            <div class="checkbox checkbox-1">
              <input type="checkbox" id="checkbox-1" />
              <label for="checkbox-1">30000</label>-<label for="checkbox-1">Above (11)</label>
            </div>
          </div>
        </div>
        <hr>
        <button class="collapsible">Brand</button>
        <div class="content">
          <form>
            <input type="text" class="fa fa-search" name="search" placeholder="Search..">
          </form>
          <hr>
          <div class="">
            <div class="checkbox checkbox-1">
              <input type="checkbox" id="checkbox-1" />
              <label for="checkbox-1">Croma (2)</label>
            </div>
            <div class="checkbox checkbox-2">
              <input type="checkbox" id="checkbox-2" />
              <label for="checkbox-2"> Haier (6)</label>
            </div>

            <div class="checkbox checkbox-1">
              <input type="checkbox" id="checkbox-1" />
              <label for="checkbox-1">Hisense (7)</label>
            </div>
            <div class="checkbox checkbox-2">
              <input type="checkbox" id="checkbox-2" />
              <label for="checkbox-2">LG (18)</label>
            </div>
            <div class="checkbox checkbox-1">
              <input type="checkbox" id="checkbox-1" />
              <label for="checkbox-1">Panasonic (8)</label>
            </div>
            <div class="checkbox checkbox-2">
              <input type="checkbox" id="checkbox-2" />
              <label for="checkbox-2">Philips (7)</label>
            </div>
            <div class="checkbox checkbox-2">
              <input type="checkbox" id="checkbox-2" />
              <label for="checkbox-2">Samsung (36)</label>
            </div>
            <div class="checkbox checkbox-2">
              <input type="checkbox" id="checkbox-2" />
              <label for="checkbox-2">Sony (20)</label>
            </div>
            <div class="checkbox checkbox-2">
              <input type="checkbox" id="checkbox-2" />
              <label for="checkbox-2">TCL (11)</label>
            </div>
            <div class="checkbox checkbox-2">
              <input type="checkbox" id="checkbox-2" />
              <label for="checkbox-2">Toshiba (4)</label>
            </div>
            <div class="checkbox checkbox-2">
              <input type="checkbox" id="checkbox-2" />
              <label for="checkbox-2">Xiaomi (5)</label>
            </div>
          </div>
        </div>
        <hr>
        <button class="collapsible">Delivery Modes</button>
        <div class="content">
          <br>
          <div class="">
            <div class="checkbox checkbox-1">
              <input type="checkbox" id="checkbox-1" />
              <label for="checkbox-1">Home Delivery (4)</label>
            </div>
          </div>
        </div>
        <hr>


        <button class="collapsible">Country of Manufacture</button>
        <div class="content">
          <form>
            <input type="text" class="fa fa-search" name="search" placeholder="Search..">
          </form>
          <hr>
          <div class="">
            <div class="checkbox checkbox-1">
              <input type="checkbox" id="checkbox-1" />
              <label for="checkbox-1">India (168)</label>
            </div>
            <div class="checkbox checkbox-2">
              <input type="checkbox" id="checkbox-2" />
              <label for="checkbox-2">China (83)</label>
            </div>

            <div class="checkbox checkbox-1">
              <input type="checkbox" id="checkbox-1" />
              <label for="checkbox-1">Canada (2)</label>
            </div>
            <div class="checkbox checkbox-2">
              <input type="checkbox" id="checkbox-2" />
              <label for="checkbox-2">Mexico (2)</label>
            </div>
            <div class="checkbox checkbox-1">
              <input type="checkbox" id="checkbox-1" />
              <label for="checkbox-1">South Korea (2)</label>
            </div>
            <div class="checkbox checkbox-2">
              <input type="checkbox" id="checkbox-2" />
              <label for="checkbox-2">USA (2)</label>
            </div>
          </div>
        </div>
        <hr>

        <button class="collapsible">Display Size(Inches)</button>
        <div class="content">
          <form>
            <input type="text" class="fa fa-search" name="search" placeholder="Search..">
          </form>
          <hr>
          <div class="">
            <div class="checkbox checkbox-1">
              <input type="checkbox" id="checkbox-1" />
              <label for="checkbox-1">14 To 24 (1)</label>
            </div>
            <div class="checkbox checkbox-2">
              <input type="checkbox" id="checkbox-2" />
              <label for="checkbox-2">24 To 34 (27)</label>
            </div>

            <div class="checkbox checkbox-1">
              <input type="checkbox" id="checkbox-1" />
              <label for="checkbox-1">34 To 44 (44)</label>
            </div>
            <div class="checkbox checkbox-2">
              <input type="checkbox" id="checkbox-2" />
              <label for="checkbox-2">44 To 54 (24)</label>
            </div>
            <div class="checkbox checkbox-1">
              <input type="checkbox" id="checkbox-1" />
              <label for="checkbox-1">54 To 64 (40)</label>
            </div>
            <div class="checkbox checkbox-2">
              <input type="checkbox" id="checkbox-2" />
              <label for="checkbox-2">64 To 74 (36)</label>
            </div>
          </div>
        </div>
        <hr>

        <button class="collapsible">Country of Origin </button>
        <div class="content">
          <form>
            <input type="text" class="fa fa-search" name="search" placeholder="Search..">
          </form>
          <hr>
          <div class="">
            <div class="checkbox checkbox-1">
              <input type="checkbox" id="checkbox-1" />
              <label for="checkbox-1">South Korea (84)</label>
            </div>
            <div class="checkbox checkbox-2">
              <input type="checkbox" id="checkbox-2" />
              <label for="checkbox-2">China (47)</label>
            </div>

            <div class="checkbox checkbox-1">
              <input type="checkbox" id="checkbox-1" />
              <label for="checkbox-1">Japan (46)</label>
            </div>
            <div class="checkbox checkbox-2">
              <input type="checkbox" id="checkbox-2" />
              <label for="checkbox-2">India (37)</label>
            </div>
            <div class="checkbox checkbox-1">
              <input type="checkbox" id="checkbox-1" />
              <label for="checkbox-1">USA (20)</label>
            </div>
            <div class="checkbox checkbox-2">
              <input type="checkbox" id="checkbox-2" />
              <label for="checkbox-2">Netherlands (11)</label>
            </div>
          </div>
        </div>
        <hr>

        <button class="collapsible">
          <%= categoryProducts.name %> Format
        </button>
        <div class="content">
          <form>
            <input type="text" class="fa fa-search" name="search" placeholder="Search..">
          </form>
          <hr>
          <div class="">
            <div class="checkbox checkbox-1">
              <input type="checkbox" id="checkbox-1" />
              <label for="checkbox-1">Ultra HD 4K (135)</label>
            </div>
            <div class="checkbox checkbox-2">
              <input type="checkbox" id="checkbox-2" />
              <label for="checkbox-2">HD Ready (25)</label>
            </div>

            <div class="checkbox checkbox-1">
              <input type="checkbox" id="checkbox-1" />
              <label for="checkbox-1">Full HD (24)</label>
            </div>
            <div class="checkbox checkbox-2">
              <input type="checkbox" id="checkbox-2" />
              <label for="checkbox-2">Ultra HD 8K (12)</label>
            </div>
            <div class="checkbox checkbox-1">
              <input type="checkbox" id="checkbox-1" />
              <label for="checkbox-1">HD (3)</label>
            </div>
          </div>
        </div>
        <hr>

        <button class="collapsible">
          <%= categoryProducts.name %> Features
        </button>
        <div class="content">
          <form>
            <input type="text" class="fa fa-search" name="search" placeholder="Search..">
          </form>
          <hr>
          <div class="">
            <div class="checkbox checkbox-1">
              <input type="checkbox" id="checkbox-1" />
              <label for="checkbox-1">Smart TV (123)</label>
            </div>
            <div class="checkbox checkbox-2">
              <input type="checkbox" id="checkbox-2" />
              <label for="checkbox-2">Android Smart TV (66)</label>
            </div>

            <div class="checkbox checkbox-1">
              <input type="checkbox" id="checkbox-1" />
              <label for="checkbox-1">Standard (10)</label>
            </div>
          </div>
        </div>
        <hr>

        <button class="collapsible">Dives Type</button>
        <div class="content">
          <form>
            <input type="text" class="fa fa-search" name="search" placeholder="Search..">
          </form>
          <hr>
          <div class="">
            <div class="checkbox checkbox-1">
              <input type="checkbox" id="checkbox-1" />
              <label for="checkbox-1">Media Streaming Stick (9)</label>
            </div>
            <div class="checkbox checkbox-2">
              <input type="checkbox" id="checkbox-2" />
              <label for="checkbox-2">Media Streaming Box (6)</label>
            </div>

            <div class="checkbox checkbox-1">
              <input type="checkbox" id="checkbox-1" />
              <label for="checkbox-1">Set Top Box (3)</label>
            </div>
            <div class="checkbox checkbox-2">
              <input type="checkbox" id="checkbox-2" />
              <label for="checkbox-2">Media Streaming Dongle (1)</label>
            </div>
          </div>
        </div>
        <hr>




        <button class="collapsible">Projector Type</button>
        <div class="content">
          <form>
            <input type="text" class="fa fa-search" name="search" placeholder="Search..">
          </form>
          <hr>
          <div class="">
            <div class="checkbox checkbox-1">
              <input type="checkbox" id="checkbox-1" />
              <label for="checkbox-1">LED (11)</label>
            </div>
            <div class="checkbox checkbox-2">
              <input type="checkbox" id="checkbox-2" />
              <label for="checkbox-2">DLP (9)</label>
            </div>

            <div class="checkbox checkbox-1">
              <input type="checkbox" id="checkbox-1" />
              <label for="checkbox-1">LCD (6)</label>
            </div>
          </div>
        </div>
        <hr>

        <button class="collapsible">Ideal Viewing Distance</button>
        <div class="content">
          <form>
            <input type="text" class="fa fa-search" name="search" placeholder="Search..">
          </form>
          <hr>
          <div class="">
            <div class="checkbox checkbox-1">
              <input type="checkbox" id="checkbox-1" />
              <label for="checkbox-1">8 - 10 Ft (49)</label>
            </div>
            <div class="checkbox checkbox-2">
              <input type="checkbox" id="checkbox-2" />
              <label for="checkbox-2">10 - 12 Ft (45)</label>
            </div>

            <div class="checkbox checkbox-1">
              <input type="checkbox" id="checkbox-1" />
              <label for="checkbox-1">6 - 8 Ft (45)</label>
            </div>
            <div class="checkbox checkbox-2">
              <input type="checkbox" id="checkbox-2" />
              <label for="checkbox-2">12 - 14 Ft (35)</label>
            </div>
            <div class="checkbox checkbox-1">
              <input type="checkbox" id="checkbox-1" />
              <label for="checkbox-1">15 Ft & Above (18)</label>
            </div>
            <div class="checkbox checkbox-2">
              <input type="checkbox" id="checkbox-2" />
              <label for="checkbox-2">Under 6 Ft (7)</label>
            </div>
          </div>
        </div>
        <hr>


        <button class="collapsible">Product Type</button>
        <div class="content">
          <form>
            <input type="text" class="fa fa-search" name="search" placeholder="Search..">
          </form>
          <hr>
          <div class="">
            <div class="checkbox checkbox-1">
              <input type="checkbox" id="checkbox-1" />
              <label for="checkbox-1"> Stand (12)</label>
            </div>
            <div class="checkbox checkbox-2">
              <input type="checkbox" id="checkbox-2" />
              <label for="checkbox-2">Bracket (2)</label>
            </div>
            <div class="checkbox checkbox-1">
              <input type="checkbox" id="checkbox-1" />
              <label for="checkbox-1">Smart Remote Control (2)</label>
            </div>
            <div class="checkbox checkbox-2">
              <input type="checkbox" id="checkbox-2" />
              <label for="checkbox-2">Universal Remote Control (2)</label>
            </div>
            <div class="checkbox checkbox-1">
              <input type="checkbox" id="checkbox-1" />
              <label for="checkbox-1">Universal Stand (2)</label>
            </div>
            <div class="checkbox checkbox-2">
              <input type="checkbox" id="checkbox-2" />
              <label for="checkbox-2">Home Accessory (1)</label>
            </div>
          </div>
        </div>
        <hr>


        <button class="collapsible">Devices Fucntion</button>
        <div class="content ">
          <form>
            <input type="text" class="fa fa-search" name="search" placeholder="Search..">
          </form>
          <hr>
          <div class="">
            <div class="checkbox checkbox-1">
              <input type="checkbox" id="checkbox-1" />
              <label for="checkbox-1">Video Streaming (18)</label>
            </div>
            <div class="checkbox checkbox-2">
              <input type="checkbox" id="checkbox-2" />
              <label for="checkbox-2">Audio Streaming (1)</label>
            </div>
          </div>
        </div>
        <hr>
      </div>


      <div class="col-md-9">
        <div class="row mx-2">
          <!-- partial:index.partial.html -->
          <div class="mt-1" id="slider">
            <div class="slides">
              <img src="/public/images/t1.jpg" width="100%" />
            </div>

            <div class="slides">
              <img src="/public/images/t2.jpg" width="100%" />
            </div>

            <div class="slides">
              <img src="/public/images/t3.jpg" width="100%" />
            </div>

            <div class="slides">
              <img src="/public/images/t4.jpg" width="100%" />
            </div>
            <div class="slides">
              <img src="/public/images/t6.jpg" width="100%" />
            </div>
            <div class="slides">
              <img src="/public/images/t7.jpg" width="100%" />
            </div>

            <div id="dot">
              <span class="dot"></span>
              <span class="dot"></span>
              <span class="dot"></span>
              <span class="dot"></span>
              <span class="dot"></span>
              <span class="dot"></span>
            </div>
          </div>
          <!-- partial -->


          <!-- CATEGORY NAME -->
          <div class="container mb-4">
            <div class="card-tille">
              <span>
                <h1>
                  <%= categoryProducts.name %>
                </h1>
              </span>
            </div>
          </div>


          <!-- List of Products -->

          <% categoryProducts.products.forEach((categoryProduct)=> { %>

            <div class="container mb-4">
              <div class="row">
                <div class="card mx-4" style="max-width: 100%; border-radius: 10px;">
                  <div class="row g-0">
                    <div class="zoom col-md-4">
                      <a href="/products/<%= categoryProduct._id %>">
                        <img src="/public/<%= categoryProduct.images[0] %>" class="img-fluid rounded-start" alt="...">
                      </a>
                    </div>
                    <div class="col-md-8">
                      <div class="card-body">
                        <div class="item-cart" style="text-align: right;">
                          <i class="fa fa-heart-o" aria-hidden="true"></i>
                        </div>
                        <h3 class="card-title">
                          <%= categoryProduct.name %>
                        </h3>
                        <p class="card-text">Product Id: <%= categoryProduct._id %>
                        </p>
                        <div class="category-price-div">
                          <span class="category-count"><b>₹<%= categoryProduct.price %></b></span>
                          <span class="old-price">
                            <del>₹<%= categoryProduct.price + 1000 %></del>
                            <ins style="background-color: lightblue; border-radius:6px;">9% Off</ins>!</span>
                        </div>
                        <div class="" style="font-size:10px; color:gray;">
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star"></span>
                          <span class="fa fa-star"></span>
                          <span>(<%= categoryProduct.numReviews %> review)</span>
                        </div>
                        <div class="card" style="background-color:whitesmoke; height: 66px;">
                          <div class="p-4 d-flex justify-content-around">
                            <input class="mt-2" type="checkbox" id="checkbox-1" />
                            <label class="mt-2" for="checkbox-1">
                              <h5>COMAPRE</h5>
                            </label>
                            <input type="button" id="checkbox-1" />
                            <label class="">
                              <h5>
                                <h5>VIEW<br>OFFERS(1)</h5>
                            </label>
                            <input type="button" id="checkbox-1" />
                            <label class="">
                              <h5>
                                <h5>SHOP<br>WITH<br>VIDEO</h5>
                            </label>
                            <input type="button" id="checkbox-1" />
                            <label class="">
                              <h5>
                                <h5>CONNECT <br> TO <br> STORE</h5>
                            </label>
                          </div>
                        </div>
                      </div>
                      <div class="">

                        <div class="buttons mb-4">
                          <button value="<%=categoryProduct._id%>" class="cart-button page-btn">
                            <span class="add-to-cart">Add to cart</span>
                            <span class="added">Item added</span>
                            <i class="fa fa-shopping-cart"></i> <i class="fa fa-square"></i>
                          </button>
                          <button class="cart-button btn-warning ">
                            <span>BUY NOW</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <% }) %>


              <!-- 
          <div class="container mb-4">
            <div class="row">
              <div class="card mx-4" style="max-width: 100%; border-radius: 10px;">
                <div class="row g-0">
                  <div class="zoom col-md-4">
                    <img src="images/t8.png" class="img-fluid rounded-start" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <div class="item-cart" style="text-align: right;">
                        <i class="fa fa-heart-o" aria-hidden="true"></i>
                      </div>
                      <h3 class="card-title">Samsung Series 4 T4050 80 cm (32 inch) HD Ready LED TV (UA32T4050ARXXL,
                        Black)</h3>
                      <p class="card-text">Product Id: 226402</p>
                      <div class="category-price-div">
                        <span class="category-count"><b>₹17,290.00</b></span>
                        <span class="old-price">
                          <del>₹17,900.00</del>
                          <ins style="background-color: lightblue; border-radius:6px;">3% Off</ins>!</span>
                      </div>
                      <div class="" style="font-size:10px; color:gray;">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span>(8 review)</span>
                      </div>
                      <div class="card" style="background-color:whitesmoke; height: 66px;">
                        <div class="p-4 d-flex justify-content-around">
                          <input class="mt-2" type="checkbox" id="checkbox-1" />
                          <label class="mt-2" for="checkbox-1">
                            <h5>COMAPRE</h5>
                          </label>
                          <input type="button" id="checkbox-1" />
                          <label class="">
                            <h5>
                              <h5>VIEW<br>OFFERS(1)</h5>
                          </label>
                          <input type="button" id="checkbox-1" />
                          <label class="">
                            <h5>
                              <h5>SHOP<br>WITH<br>VIDEO</h5>
                          </label>
                          <input type="button" id="checkbox-1" />
                          <label class="">
                            <h5>
                              <h5>CONNECT <br> TO <br> STORE</h5>
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="">

                      <div class="buttons mb-4">
                        <button class="cart-button page-btn">
                          <span class="add-to-cart">Add to cart</span>
                          <span class="added">Item added</span>
                          <i class="fa fa-shopping-cart"></i> <i class="fa fa-square"></i>
                        </button>
                        <button class="cart-button btn-warning ">
                          <span>BUY NOW</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>



          <div class="container mb-4">
            <div class="row">
              <div class="card mx-4" style="max-width: 100%; border-radius: 10px;">
                <div class="row g-0">
                  <div class="zoom col-md-4">
                    <img src="images/t9.png" class="img-fluid rounded-start" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <div class="item-cart" style="text-align: right;">
                        <i class="fa fa-heart-o" aria-hidden="true"></i>
                      </div>
                      <h3 class="card-title">Samsung Series 4 T4350 80 cm (32 inch) HD Ready LED Smart TV
                        (UA32T4350AKXXL, Black)</h3>
                      <p class="card-text">Product Id: 226402</p>
                      <div class="category-price-div">
                        <span class="category-count"><b>₹17,290.00</b></span>
                        <span class="old-price">
                          <del>₹17,900.00</del>
                          <ins style="background-color: lightblue; border-radius:6px;">3% Off</ins>!</span>
                      </div>
                      <div class="" style="font-size:10px; color:gray;">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span>(8 review)</span>
                      </div>
                      <div class="card" style="background-color:whitesmoke; height: 66px;">
                        <div class="p-4 d-flex justify-content-around">
                          <input class="mt-2" type="checkbox" id="checkbox-1" />
                          <label class="mt-2" for="checkbox-1">
                            <h5>COMAPRE</h5>
                          </label>
                          <input type="button" id="checkbox-1" />
                          <label class="">
                            <h5>
                              <h5>VIEW<br>OFFERS(1)</h5>
                          </label>
                          <input type="button" id="checkbox-1" />
                          <label class="">
                            <h5>
                              <h5>SHOP<br>WITH<br>VIDEO</h5>
                          </label>
                          <input type="button" id="checkbox-1" />
                          <label class="">
                            <h5>
                              <h5>CONNECT <br> TO <br> STORE</h5>
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="">

                      <div class="buttons mb-4">
                        <button class="cart-button page-btn">
                          <span class="add-to-cart">Add to cart</span>
                          <span class="added">Item added</span>
                          <i class="fa fa-shopping-cart"></i> <i class="fa fa-square"></i>
                        </button>
                        <button class="cart-button btn-warning ">
                          <span>BUY NOW</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>






          <div class="container mb-4">
            <div class="row">
              <div class="card mx-4" style="max-width: 100%; border-radius: 10px;">
                <div class="row g-0">
                  <div class="zoom col-md-4">
                    <img src="images/t10.png" class="img-fluid rounded-start" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <div class="item-cart" style="text-align: right;">
                        <i class="fa fa-heart-o" aria-hidden="true"></i>
                      </div>
                      <h3 class="card-title">Samsung Series 4 T4350 80 cm (32 inch) HD Ready LED Smart TV
                        (UA32T4350AKXXL, Black)</h3>
                      <p class="card-text">Product Id: 226402</p>
                      <div class="category-price-div">
                        <span class="category-count"><b>₹17,290.00</b></span>
                        <span class="old-price">
                          <del>₹17,900.00</del>
                          <ins style="background-color: lightblue; border-radius:6px;">3% Off</ins>!</span>
                      </div>
                      <div class="" style="font-size:10px; color:gray;">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span>(8 review)</span>
                      </div>
                      <div class="card" style="background-color:whitesmoke; height: 66px;">
                        <div class="p-4 d-flex justify-content-around">
                          <input class="mt-2" type="checkbox" id="checkbox-1" />
                          <label class="mt-2" for="checkbox-1">
                            <h5>COMAPRE</h5>
                          </label>
                          <input type="button" id="checkbox-1" />
                          <label class="">
                            <h5>
                              <h5>VIEW<br>OFFERS(1)</h5>
                          </label>
                          <input type="button" id="checkbox-1" />
                          <label class="">
                            <h5>
                              <h5>SHOP<br>WITH<br>VIDEO</h5>
                          </label>
                          <input type="button" id="checkbox-1" />
                          <label class="">
                            <h5>
                              <h5>CONNECT <br> TO <br> STORE</h5>
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="">

                      <div class="buttons mb-4" id="dots">
                        <button class="cart-button page-btn">
                          <span class="add-to-cart">Add to cart</span>
                          <span class="added">Item added</span>
                          <i class="fa fa-shopping-cart"></i> <i class="fa fa-square"></i>
                        </button>
                        <button class="cart-button btn-warning ">
                          <span>BUY NOW</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>




          <div id="dots">
            <div class="container mb-4">
              <div class="row">
                <div class="card mx-4" style="max-width: 100%; border-radius: 10px;">
                  <div class="row g-0">
                    <div class="zoom col-md-4">
                      <img src="images/t11.jfif" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                      <div class="card-body">
                        <div class="item-cart" style="text-align: right;">
                          <i class="fa fa-heart-o" aria-hidden="true"></i>
                        </div>
                        <h3 class="card-title">Samsung Series 4 T4350 80 cm (32 inch) HD Ready LED Smart TV
                          (UA32T4350AKXXL, Black)</h3>
                        <p class="card-text">Product Id: 226402</p>
                        <div class="category-price-div">
                          <span class="category-count"><b>₹17,290.00</b></span>
                          <span class="old-price">
                            <del>₹17,900.00</del>
                            <ins style="background-color: lightblue; border-radius:6px;">3% Off</ins>!</span>
                        </div>
                        <div class="" style="font-size:10px; color:gray;">
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star"></span>
                          <span class="fa fa-star"></span>
                          <span>(8 review)</span>
                        </div>
                        <div class="card" style="background-color:whitesmoke; height: 66px;">
                          <div class="p-4 d-flex justify-content-around">
                            <input class="mt-2" type="checkbox" id="checkbox-1" />
                            <label class="mt-2" for="checkbox-1">
                              <h5>COMAPRE</h5>
                            </label>
                            <input type="button" id="checkbox-1" />
                            <label class="">
                              <h5>
                                <h5>VIEW<br>OFFERS(1)</h5>
                            </label>
                            <input type="button" id="checkbox-1" />
                            <label class="">
                              <h5>
                                <h5>SHOP<br>WITH<br>VIDEO</h5>
                            </label>
                            <input type="button" id="checkbox-1" />
                            <label class="">
                              <h5>
                                <h5>CONNECT <br> TO <br> STORE</h5>
                            </label>
                          </div>
                        </div>
                      </div>
                      <div class="">

                        <div class="buttons mb-4">
                          <button class="cart-button page-btn">
                            <span class="add-to-cart">Add to cart</span>
                            <span class="added">Item added</span>
                            <i class="fa fa-shopping-cart"></i> <i class="fa fa-square"></i>
                          </button>
                          <button class="cart-button btn-warning ">
                            <span>BUY NOW</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div id="more">



              <div class="container mb-4">
                <div class="row">
                  <div class="card mx-4" style="max-width: 100%; border-radius: 10px;">
                    <div class="row g-0">
                      <div class="zoom col-md-4">
                        <img src="images/t12.jfif" class="img-fluid rounded-start" alt="...">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <div class="item-cart" style="text-align: right;">
                            <i class="fa fa-heart-o" aria-hidden="true"></i>
                          </div>
                          <h3 class="card-title">Samsung Series 4 T4350 80 cm (32 inch) HD Ready LED Smart TV
                            (UA32T4350AKXXL, Black)</h3>
                          <p class="card-text">Product Id: 226402</p>
                          <div class="category-price-div">
                            <span class="category-count"><b>₹17,290.00</b></span>
                            <span class="old-price">
                              <del>₹17,900.00</del>
                              <ins style="background-color: lightblue; border-radius:6px;">3% Off</ins>!</span>
                          </div>
                          <div class="" style="font-size:10px; color:gray;">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span>(8 review)</span>
                          </div>
                          <div class="card" style="background-color:whitesmoke; height: 66px;">
                            <div class="p-4 d-flex justify-content-around">
                              <input class="mt-2" type="checkbox" id="checkbox-1" />
                              <label class="mt-2" for="checkbox-1">
                                <h5>COMAPRE</h5>
                              </label>
                              <input type="button" id="checkbox-1" />
                              <label class="">
                                <h5>
                                  <h5>VIEW<br>OFFERS(1)</h5>
                              </label>
                              <input type="button" id="checkbox-1" />
                              <label class="">
                                <h5>
                                  <h5>SHOP<br>WITH<br>VIDEO</h5>
                              </label>
                              <input type="button" id="checkbox-1" />
                              <label class="">
                                <h5>
                                  <h5>CONNECT <br> TO <br> STORE</h5>
                              </label>
                            </div>
                          </div>
                        </div>
                        <div class="">

                          <div class="buttons mb-4">
                            <button class="cart-button page-btn">
                              <span class="add-to-cart">Add to cart</span>
                              <span class="added">Item added</span>
                              <i class="fa fa-shopping-cart"></i> <i class="fa fa-square"></i>
                            </button>
                            <button class="cart-button btn-warning ">
                              <span>BUY NOW</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>





              <div class="container mb-4">
                <div class="row">
                  <div class="card mx-4" style="max-width: 100%; border-radius: 10px;">
                    <div class="row g-0">
                      <div class="zoom col-md-4">
                        <img src="images/t13.png" class="img-fluid rounded-start" alt="...">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <div class="item-cart" style="text-align: right;">
                            <i class="fa fa-heart-o" aria-hidden="true"></i>
                          </div>
                          <h3 class="card-title">Samsung Series 4 T4350 80 cm (32 inch) HD Ready LED Smart TV
                            (UA32T4350AKXXL, Black)</h3>
                          <p class="card-text">Product Id: 226402</p>
                          <div class="category-price-div">
                            <span class="category-count"><b>₹17,290.00</b></span>
                            <span class="old-price">
                              <del>₹17,900.00</del>
                              <ins style="background-color: lightblue; border-radius:6px;">3% Off</ins>!</span>
                          </div>
                          <div class="" style="font-size:10px; color:gray;">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span>(8 review)</span>
                          </div>
                          <div class="card" style="background-color:whitesmoke; height: 66px;">
                            <div class="p-4 d-flex justify-content-around">
                              <input class="mt-2" type="checkbox" id="checkbox-1" />
                              <label class="mt-2" for="checkbox-1">
                                <h5>COMAPRE</h5>
                              </label>
                              <input type="button" id="checkbox-1" />
                              <label class="">
                                <h5>
                                  <h5>VIEW<br>OFFERS(1)</h5>
                              </label>
                              <input type="button" id="checkbox-1" />
                              <label class="">
                                <h5>
                                  <h5>SHOP<br>WITH<br>VIDEO</h5>
                              </label>
                              <input type="button" id="checkbox-1" />
                              <label class="">
                                <h5>
                                  <h5>CONNECT <br> TO <br> STORE</h5>
                              </label>
                            </div>
                          </div>
                        </div>
                        <div class="">

                          <div class="buttons mb-4" id="more">
                            <button class="cart-button page-btn">
                              <span class="add-to-cart">Add to cart</span>
                              <span class="added">Item added</span>
                              <i class="fa fa-shopping-cart"></i> <i class="fa fa-square"></i>
                            </button>
                            <button class="cart-button btn-warning ">
                              <span>BUY NOW</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>






              <div class="container mb-4">
                <div class="row">
                  <div class="card mx-4" style="max-width: 100%; border-radius: 10px;">
                    <div class="row g-0">
                      <div class="zoom col-md-4">
                        <img src="images/t14.jfif" class="img-fluid rounded-start" alt="...">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <div class="item-cart" style="text-align: right;">
                            <i class="fa fa-heart-o" aria-hidden="true"></i>
                          </div>
                          <h3 class="card-title">Samsung Series 4 T4350 80 cm (32 inch) HD Ready LED Smart TV
                            (UA32T4350AKXXL, Black)</h3>
                          <p class="card-text">Product Id: 226402</p>
                          <div class="category-price-div">
                            <span class="category-count"><b>₹17,290.00</b></span>
                            <span class="old-price">
                              <del>₹17,900.00</del>
                              <ins style="background-color: lightblue; border-radius:6px;">3% Off</ins>!</span>
                          </div>
                          <div class="" style="font-size:10px; color:gray;">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span>(8 review)</span>
                          </div>
                          <div class="card" style="background-color:whitesmoke; height: 66px;">
                            <div class="p-4 d-flex justify-content-around">
                              <input class="mt-2" type="checkbox" id="checkbox-1" />
                              <label class="mt-2" for="checkbox-1">
                                <h5>COMAPRE</h5>
                              </label>
                              <input type="button" id="checkbox-1" />
                              <label class="">
                                <h5>
                                  <h5>VIEW<br>OFFERS(1)</h5>
                              </label>
                              <input type="button" id="checkbox-1" />
                              <label class="">
                                <h5>
                                  <h5>SHOP<br>WITH<br>VIDEO</h5>
                              </label>
                              <input type="button" id="checkbox-1" />
                              <label class="">
                                <h5>
                                  <h5>CONNECT <br> TO <br> STORE</h5>
                              </label>
                            </div>
                          </div>
                        </div>
                        <div class="">

                          <div class="buttons mb-4">
                            <button class="cart-button page-btn">
                              <span class="add-to-cart">Add to cart</span>
                              <span class="added">Item added</span>
                              <i class="fa fa-shopping-cart"></i> <i class="fa fa-square"></i>
                            </button>
                            <button class="cart-button btn-warning ">
                              <span>BUY NOW</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>





              <div class="container mb-4">
                <div class="row">
                  <div class="card mx-4" style="max-width: 100%; border-radius: 10px;">
                    <div class="row g-0">
                      <div class="zoom col-md-4">
                        <img src="images/t15.jfif" class="img-fluid rounded-start" alt="...">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <div class="item-cart" style="text-align: right;">
                            <i class="fa fa-heart-o" aria-hidden="true"></i>
                          </div>
                          <h3 class="card-title">Samsung Series 4 T4350 80 cm (32 inch) HD Ready LED Smart TV
                            (UA32T4350AKXXL, Black)</h3>
                          <p class="card-text">Product Id: 226402</p>
                          <div class="category-price-div">
                            <span class="category-count"><b>₹17,290.00</b></span>
                            <span class="old-price">
                              <del>₹17,900.00</del>
                              <ins style="background-color: lightblue; border-radius:6px;">3% Off</ins>!</span>
                          </div>
                          <div class="" style="font-size:10px; color:gray;">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span>(8 review)</span>
                          </div>
                          <div class="card" style="background-color:whitesmoke; height: 66px;">
                            <div class="p-4 d-flex justify-content-around">
                              <input class="mt-2" type="checkbox" id="checkbox-1" />
                              <label class="mt-2" for="checkbox-1">
                                <h5>COMAPRE</h5>
                              </label>
                              <input type="button" id="checkbox-1" />
                              <label class="">
                                <h5>
                                  <h5>VIEW<br>OFFERS(1)</h5>
                              </label>
                              <input type="button" id="checkbox-1" />
                              <label class="">
                                <h5>
                                  <h5>SHOP<br>WITH<br>VIDEO</h5>
                              </label>
                              <input type="button" id="checkbox-1" />
                              <label class="">
                                <h5>
                                  <h5>CONNECT <br> TO <br> STORE</h5>
                              </label>
                            </div>
                          </div>
                        </div>
                        <div class="">

                          <div class="buttons mb-4">
                            <button class="cart-button page-btn">
                              <span class="add-to-cart">Add to cart</span>
                              <span class="added">Item added</span>
                              <i class="fa fa-shopping-cart"></i> <i class="fa fa-square"></i>
                            </button>
                            <button class="cart-button btn-warning ">
                              <span>BUY NOW</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>




              <div class="container mb-4">
                <div class="row">
                  <div class="card mx-4" style="max-width: 100%; border-radius: 10px;">
                    <div class="row g-0">
                      <div class="zoom col-md-4">
                        <img src="images/t15.jfif" class="img-fluid rounded-start" alt="...">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <div class="item-cart" style="text-align: right;">
                            <i class="fa fa-heart-o" aria-hidden="true"></i>
                          </div>
                          <h3 class="card-title">Samsung Series 4 T4350 80 cm (32 inch) HD Ready LED Smart TV
                            (UA32T4350AKXXL, Black)</h3>
                          <p class="card-text">Product Id: 226402</p>
                          <div class="category-price-div">
                            <span class="category-count"><b>₹17,290.00</b></span>
                            <span class="old-price">
                              <del>₹17,900.00</del>
                              <ins style="background-color: lightblue; border-radius:6px;">3% Off</ins>!</span>
                          </div>
                          <div class="" style="font-size:10px; color:gray;">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span>(8 review)</span>
                          </div>
                          <div class="card" style="background-color:whitesmoke; height: 66px;">
                            <div class="p-4 d-flex justify-content-around">
                              <input class="mt-2" type="checkbox" id="checkbox-1" />
                              <label class="mt-2" for="checkbox-1">
                                <h5>COMAPRE</h5>
                              </label>
                              <input type="button" id="checkbox-1" />
                              <label class="">
                                <h5>
                                  <h5>VIEW<br>OFFERS(1)</h5>
                              </label>
                              <input type="button" id="checkbox-1" />
                              <label class="">
                                <h5>
                                  <h5>SHOP<br>WITH<br>VIDEO</h5>
                              </label>
                              <input type="button" id="checkbox-1" />
                              <label class="">
                                <h5>
                                  <h5>CONNECT <br> TO <br> STORE</h5>
                              </label>
                            </div>
                          </div>
                        </div>
                        <div class="">

                          <div class="buttons mb-4">
                            <button class="cart-button page-btn">
                              <span class="add-to-cart">Add to cart</span>
                              <span class="added">Item added</span>
                              <i class="fa fa-shopping-cart"></i> <i class="fa fa-square"></i>
                            </button>
                            <button class="cart-button btn-warning ">
                              <span>BUY NOW</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>


            <div class="container mb-4">
              <div class="row">
                <div class="card mx-4" style="max-width: 100%; border-radius: 10px;">
                  <div class="row g-0">
                    <div class="zoom col-md-4">
                      <img src="images/t15.jfif" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                      <div class="card-body">
                        <div class="item-cart" style="text-align: right;">
                          <i class="fa fa-heart-o" aria-hidden="true"></i>
                        </div>
                        <h3 class="card-title">Samsung Series 4 T4350 80 cm (32 inch) HD Ready LED Smart TV
                          (UA32T4350AKXXL, Black)</h3>
                        <p class="card-text">Product Id: 226402</p>
                        <div class="category-price-div">
                          <span class="category-count"><b>₹17,290.00</b></span>
                          <span class="old-price">
                            <del>₹17,900.00</del>
                            <ins style="background-color: lightblue; border-radius:6px;">3% Off</ins>!</span>
                        </div>
                        <div class="" style="font-size:10px; color:gray;">
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star"></span>
                          <span class="fa fa-star"></span>
                          <span>(8 review)</span>
                        </div>
                        <div class="card" style="background-color:whitesmoke; height: 66px;">
                          <div class="p-4 d-flex justify-content-around">
                            <input class="mt-2" type="checkbox" id="checkbox-1" />
                            <label class="mt-2" for="checkbox-1">
                              <h5>COMAPRE</h5>
                            </label>
                            <input type="button" id="checkbox-1" />
                            <label class="">
                              <h5>
                                <h5>VIEW<br>OFFERS(1)</h5>
                            </label>
                            <input type="button" id="checkbox-1" />
                            <label class="">
                              <h5>
                                <h5>SHOP<br>WITH<br>VIDEO</h5>
                            </label>
                            <input type="button" id="checkbox-1" />
                            <label class="">
                              <h5>
                                <h5>CONNECT <br> TO <br> STORE</h5>
                            </label>
                          </div>
                        </div>
                      </div>
                      <div class="">

                        <div class="buttons mb-4">
                          <button class="cart-button page-btn">
                            <span class="add-to-cart">Add to cart</span>
                            <span class="added">Item added</span>
                            <i class="fa fa-shopping-cart"></i> <i class="fa fa-square"></i>
                          </button>
                          <button class="cart-button btn-warning ">
                            <span>BUY NOW</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <button onclick="myFunction()" id="myBtn">Read more</button>

        </div>
      </div>
    </div>
  </div>
  </div> -->



              <hr>

              <div class="container">
                <div class="row mx-2">
                  <div class="col-md-6">
                    <h2>Looking to upgrade and buy a TV? Shop new Television with Latest Technology</h2>
                    <p>With a wide range of electronics available in the market, it often gets confusing to
                      differentiate one
                      product from its competitor or to choose one that best fits your requirements. This is where Croma
                      steps in.
                      At Croma, we take pride in helping you buy. Croma is committed to understanding your needs and
                      help you find
                      the product best suited for You! We believe a purchase is just the first step to a relationship
                      that will last
                      for years to come.</p>
                    <br>

                    <p>Talking about relationships, Croma has been retailing Televisions for over a decade, from the old
                      CRTs to<a href="#"> LCD TVs </a> and now <a href="#"> LED TVs</a> . We have ample expertise in
                      selling TVs owing to
                      our tie-ups and associations with a variety of top brands not only in India but across the world,
                      like Sony,
                      Samsung, LG and more. Our strong relationships enable us to gain unique insights on the market and
                      needs of
                      consumers, which we showcase with Croma Televisions, specially designed with the consumer in mind.
                      As a
                      result, you can easily find the most accessible high resolution television prices at Croma. We
                      make it easy to
                      buy a TV online, or experience the best TVs in store, where our representatives will help you pick
                      out the
                      right one based on your needs.</p>

                    <br>
                    <h2>So, how to decide which Television is the best?</h2>
                    <p>At Croma, we understand different people have different needs, some consumers are looking for top
                      of the line
                      features while others want value for money, hence finding the right fit is extremely important.
                      The world of
                      television can seem scary and complex to the average man, who gets immediately flooded with terms
                      like 4K,
                      UHD, OLED, QLED and more. Let’s simplify a bit and look at the important aspects when buying a TV.
                    </p>

                    <br>
                    <p>First things first, the TV size. Based on the viewing distance and room dimensions, be sure to
                      find the right
                      TV size for you, whether it’s a 32-inch TV or a 55-inch TV. Coming to the resolution, with options
                      ranging
                      from HD Ready to Full HD and 4K (Ultra HD), the key here is, more pixels (and resolution) equal
                      better clarity
                      and more picture quality. Be sure to check for an adequate refresh rate if you pick a 4K TV
                      though! Smart TVs
                      are on the rise today with various versions like the Android TVs and other OEM operating system
                      TVs. These
                      smart TVs provide the convenience of the internet and apps like Netflix, Hotstar and other
                      streaming services
                      built into the TV itself. TVs with built-in Bluetooth allow users to connect various peripherals
                      and improve
                      the viewing experience.</p>
                  </div>

                  <div class="col-md-6">
                    <h2> All that is fine, but what about the technology?</h2>
                    <p>At the core, the television is built to let viewers enjoy their favourite TV shows or movies in
                      the comfort
                      of their homes. All this starts with the TV panel, with most TVs today being flat panel TVs the
                      technology
                      options here are LCD, LED, OLED and QLED. OLED and QLED are premium technologies producing a
                      spectacular
                      clarity, suited for larger screen sizes in the 43 inch TV to 75 inch TV range. LED is the most
                      versatile, with
                      most new forms based on it, while LCD TVs are popular for smaller sizes like 24 inch TVs or 32
                      inch TVs. Croma
                      has curated a wide range of the latest smart TVs in the market today, from touch screen TVs to
                      televisions
                      with cameras to ensure you find the right TV model for you!</p>
                    <br>

                    <p>Lately, most manufacturers have started to approach televisions as computers, with processing,
                      RAM and
                      storage all being added to improve user experience and allow seamless viewing using Wi-Fi. Radical
                      improvements in resolution have also been made, with 8K resolution now achievable, and 4K now
                      widely available
                      across many homes.</p>


                    <h2>Wondering what the Smart TV buzz is all about?</h2>
                    <p>A smart TV is a high resolution television with integrated Internet capabilities and allows users
                      to stream
                      music and video, browse the web and use applications. A traditional TV set is limited to either a
                      cable TV or
                      set top box, but smart TVs can access unlimited content utilising the internet. Smart TVs are
                      integrated with
                      operating systems, the most popular being Android TVs. Many popular brands make their own
                      television operating
                      systems as well, aimed at optimising user experience. With the constant advancement of technology
                      in this
                      sector the latest TVs have features like mobile mirroring, built-in Bluetooth, voice recognition
                      and screen
                      casting. As a tip, devices such as the Chromecast or Firestick enable you to add smart
                      capabilities to your
                      traditional television as well.</p><br>


                    <h2>Should you buy a TV online or from a store?</h2>
                    <p>As long as you know exactly what you want, you can do either. At Croma, we try to ensure a
                      seamless buying
                      experience - in-store, online or mobile. Among a flurry of benefits, we provide personalised
                      exclusive offers,
                      convenient EMI payment options, as well as a Life Time Service Assurance, just in case you face
                      any problem
                      with your gadget. Also, while the television prices in India may vary from brand to brand and
                      technology to
                      feature, we strive hard to provide a wide catalogue of TVs and TV accessories for every budget.
                      After all, the
                      core purpose of Croma is to convert each and every dream of our customers into reality.</p>
                  </div>
                </div>
              </div>


              <hr class="hr-1">
              <footer class="footer">
                <div class="container">
                  <div class="row">
                    <div class="footer-col">
                      <h4>Sitesoch</h4>
                      <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Pricing</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                      </ul>
                    </div>
                    <div class="footer-col">
                      <h4>Get Help</h4>
                      <ul>
                        <li><a href="#">Shipping</a></li>
                        <li><a href="#">Returns</a></li>
                        <li><a href="#">Order Status</a></li>
                        <li><a href="#">Payment Options</a></li>
                      </ul>
                    </div>
                    <div class="footer-col">
                      <h4>Address</h4>
                      <ul>
                        <li><a href="#">Wonderland Park, Street Number 106, Sub-Central Business District(Action Area
                            1), Action
                            Area I, Newtown, Kolkata, West Bengal 700156 </a></li>
                      </ul>
                    </div>
                    <div class="footer-col">
                      <h4>follow us</h4>
                      <div class="social-links">
                        <a href="#"><i class="fa fa-google"></i></a>
                        <a href="#"><i class="fa fa-facebook-f"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
              </footer>
              <div class="footer_bottom">
                <div class="container">
                  <div class="row align-items-center">
                    <div class="col-lg-6 col-sm-7">
                      <p class="mb-0 f_400">© ShopCounter Inc.. 2021 All rights reserved.</p>
                    </div>
                    <div class="col-lg-6 col-sm-5 text-right">
                      <p>Made with <i class="icon_heart"></i> in <a href="#">ShopCounter</a></p>
                    </div>
                  </div>
                </div>
              </div>


              <!---- END CONTENT THREE---->
              <!---END  CONTENT MODULE ONE  --->
              <script src="/public/js/jquery.js"></script>
              <script src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js'></script>
              <script src="/public/js/bootstrap.min.js"></script>
              <script src="/public/js/owl.carousel.min.js"></script>
              <script src="/public/js/custom.js"></script>
              <script src="/public/js/head.js"></script>
              <script src="/public/js/tel.js"></script>
              <script src="/public/js/integrations/addToCart.js"></script>

</body>

</html>