<!DOCTYPE html>
<html lang="en">
  <!-- Mirrored from codedthemes.com/demos/admin-templates/datta-able/bootstrap/default/dashboard-ecommerce.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 26 May 2021 11:54:24 GMT -->

  <head>
    <title>Ecommerce dashboard</title>
    <!-- HTML5 Shim and Respond.js IE11 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 11]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Meta -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui"
    />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="description"
      content="Datta Able Bootstrap admin template made using Bootstrap 4 and it has huge amount of ready made feature, UI components, pages which completely fulfills any dashboard needs."
    />
    <meta
      name="keywords"
      content="admin templates, bootstrap admin templates, bootstrap 4, dashboard, dashboard templets, sass admin templets, html admin templates, responsive, bootstrap admin templates free download,premium bootstrap admin templates, datta able, datta able bootstrap admin template"
    />
    <meta name="author" content="Codedthemes" />

    <!-- Favicon icon -->
    <link
      rel="icon"
      href="https://codedthemes.com/demos/admin-templates/datta-able/bootstrap/assets/images/favicon.ico"
      type="image/x-icon"
    />
    <!-- fontawesome icon -->
    <link
      rel="stylesheet"
      href="/public/dashboard/assets/fonts/fontawesome/css/fontawesome-all.min.css"
    />
    <!-- animation css -->
    <link
      rel="stylesheet"
      href="/public/dashboard/assets/plugins/animation/css/animate.min.css"
    />
    <!-- vendor css -->
    <link rel="stylesheet" href="/public/dashboard/assets/css/style.css" />
  </head>

  <style>
    .payToggle:hover {
      cursor: pointer;
    }

    .deliverToggle:hover {
      cursor: pointer;
    }
  </style>

  <body>
    <!-- [ Pre-loader ] start -->
    <!-- <div class="loader-bg">
        <div class="loader-track">
            <div class="loader-fill"></div>
        </div>
    </div> -->
    <!-- [ Pre-loader ] End -->

    <!-- [ navigation menu ] start -->
    <nav class="pcoded-navbar">
      <div class="navbar-wrapper">
        <div class="navbar-brand header-logo">
          <a href="/admin" class="b-brand">
            <div class="b-bg">
              <i class="feather icon-trending-up"></i>
            </div>
            <span class="b-title">Dashboard</span>
          </a>
          <a class="mobile-menu" id="mobile-collapse" href="#!"
            ><span></span
          ></a>
        </div>
        <div class="navbar-content scroll-div">
          <!-- Users -->
          <ul class="nav pcoded-inner-navbar">
            <li class="nav-item pcoded-menu-caption">
              <label>Users</label>
            </li>
            <li
              data-username="dashboard Default Ecommerce CRM Analytics Crypto Project"
              class="nav-item pcoded-hasmenu active pcoded-trigger"
            >
              <a href="#!" class="nav-link"
                ><span class="pcoded-micon"
                  ><i class="feather icon-package"></i></span
                ><span class="pcoded-mtext">Users</span></a
              >
              <ul class="pcoded-submenu">
                <li class="">
                  <a href="/admin/" class="">Users List</a>
                </li>
              </ul>
            </li>
          </ul>

          <!-- Products -->
          <ul class="nav pcoded-inner-navbar">
            <li class="nav-item pcoded-menu-caption">
              <label>Products</label>
            </li>
            <li
              data-username="dashboard Default Ecommerce CRM Analytics Crypto Project"
              class="nav-item pcoded-hasmenu active pcoded-trigger"
            >
              <a href="#!" class="nav-link"
                ><span class="pcoded-micon"
                  ><i class="feather icon-home"></i></span
                ><span class="pcoded-mtext">Products</span></a
              >
              <ul class="pcoded-submenu">
                <li class="">
                  <a href="/admin/product/new" class="">Add new Product</a>
                </li>
                <li class="">
                  <a href="/admin/product/productlist" class="">Product List</a>
                </li>
              </ul>
            </li>
          </ul>

          <!-- Orders -->
          <ul class="nav pcoded-inner-navbar">
            <li class="nav-item pcoded-menu-caption">
              <label>Orders</label>
            </li>
            <li
              data-username="dashboard Default Ecommerce CRM Analytics Crypto Project"
              class="nav-item pcoded-hasmenu active pcoded-trigger"
            >
              <a href="#!" class="nav-link"
                ><span class="pcoded-micon"
                  ><i class="feather icon-package"></i></span
                ><span class="pcoded-mtext">Orders</span></a
              >
              <ul class="pcoded-submenu">
                <li class="">
                  <a href="/admin/order/orderlist/" class="">Order List</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- [ navigation menu ] end -->

    <!-- [ Header ] start -->
    <header class="navbar pcoded-header navbar-expand-lg navbar-light">
      <div class="m-header">
        <a class="mobile-menu" id="mobile-collapse1" href="#!"><span></span></a>
        <a href="/admin" class="b-brand">
          <div class="b-bg">
            <i class="feather icon-trending-up"></i>
          </div>
          <span class="b-title">Orders List</span>
        </a>
      </div>
      <a class="mobile-menu" id="mobile-header" href="#!">
        <i class="feather icon-more-horizontal"></i>
      </a>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
          <li>
            <a
              href="#!"
              class="full-screen"
              onclick="javascript:toggleFullScreen()"
              ><i class="feather icon-maximize"></i
            ></a>
          </li>
          <li class="nav-item">
            <div class="main-search">
              <div class="input-group">
                <input
                  type="text"
                  id="m-search"
                  class="form-control"
                  placeholder="Search . . ."
                />
                <a href="#!" class="input-group-append search-close">
                  <i class="feather icon-x input-group-text"></i>
                </a>
                <span class="input-group-append search-btn btn btn-primary">
                  <i class="feather icon-search input-group-text"></i>
                </span>
              </div>
            </div>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
          <li>
            <div class="dropdown">
              <a class="dropdown-toggle" href="#" data-toggle="dropdown"
                ><i class="icon feather icon-bell"></i
              ></a>
              <div class="dropdown-menu dropdown-menu-right notification">
                <div class="noti-head">
                  <h6 class="d-inline-block m-b-0">Notifications</h6>
                  <div class="float-right">
                    <a href="#!" class="m-r-10">mark as read</a>
                    <a href="#!">clear all</a>
                  </div>
                </div>
                <ul class="noti-body">
                  <li class="n-title">
                    <p class="m-b-0">NEW</p>
                  </li>
                  <li class="notification">
                    <div class="media">
                      <img
                        class="img-radius"
                        src="/public/dashboard/assets/images/user/avatar-1.jpg"
                        alt="Generic placeholder image"
                      />
                      <div class="media-body">
                        <p>
                          <strong>John Doe</strong
                          ><span class="n-time text-muted"
                            ><i class="icon feather icon-clock m-r-10"></i>30
                            min</span
                          >
                        </p>
                        <p>New ticket Added</p>
                      </div>
                    </div>
                  </li>
                  <li class="n-title">
                    <p class="m-b-0">EARLIER</p>
                  </li>
                  <li class="notification">
                    <div class="media">
                      <img
                        class="img-radius"
                        src="/public/dashboard/assets/images/user/avatar-2.jpg"
                        alt="Generic placeholder image"
                      />
                      <div class="media-body">
                        <p>
                          <strong>Joseph William</strong
                          ><span class="n-time text-muted"
                            ><i class="icon feather icon-clock m-r-10"></i>30
                            min</span
                          >
                        </p>
                        <p>Prchace New Theme and make payment</p>
                      </div>
                    </div>
                  </li>
                  <li class="notification">
                    <div class="media">
                      <img
                        class="img-radius"
                        src="/public/dashboard/assets/images/user/avatar-3.jpg"
                        alt="Generic placeholder image"
                      />
                      <div class="media-body">
                        <p>
                          <strong>Sara Soudein</strong
                          ><span class="n-time text-muted"
                            ><i class="icon feather icon-clock m-r-10"></i>30
                            min</span
                          >
                        </p>
                        <p>currently login</p>
                      </div>
                    </div>
                  </li>
                </ul>
                <div class="noti-footer">
                  <a href="#!">show all</a>
                </div>
              </div>
            </div>
          </li>
          <li>
            <a href="#!" class="displayChatbox"
              ><i class="icon feather icon-mail"></i
            ></a>
          </li>
          <li>
            <div class="dropdown drp-user">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="icon feather icon-settings"></i>
              </a>
              <div
                class="dropdown-menu dropdown-menu-right profile-notification"
              >
                <div class="pro-head">
                  <img
                    src="/public/dashboard/assets/images/user/avatar-1.jpg"
                    class="img-radius"
                    alt="User-Profile-Image"
                  />
                  <span>John Doe</span>
                  <a href="auth-signin.html" class="dud-logout" title="Logout">
                    <i class="feather icon-log-out"></i>
                  </a>
                </div>
                <ul class="pro-body">
                  <li>
                    <a href="#!" class="dropdown-item"
                      ><i class="feather icon-settings"></i> Settings</a
                    >
                  </li>
                  <li>
                    <a href="#!" class="dropdown-item"
                      ><i class="feather icon-user"></i> Profile</a
                    >
                  </li>
                  <li>
                    <a href="message.html" class="dropdown-item"
                      ><i class="feather icon-mail"></i> My Messages</a
                    >
                  </li>
                  <li>
                    <a href="auth-signin.html" class="dropdown-item"
                      ><i class="feather icon-lock"></i> Lock Screen</a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </header>
    <!-- [ Header ] end -->

    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
      <div class="pcoded-wrapper">
        <div class="pcoded-content">
          <div class="pcoded-inner-content">
            <!-- [ breadcrumb ] start -->
            <div class="page-header">
              <div class="page-block">
                <div class="row align-items-center">
                  <div class="col-md-12">
                    <div class="page-header-title">
                      <h5 class="m-b-10">Dashboard</h5>
                    </div>
                    <ul class="breadcrumb">
                      <li class="breadcrumb-item">
                        <a href="index.html"
                          ><i class="feather icon-home"></i
                        ></a>
                      </li>
                      <li class="breadcrumb-item">
                        <a href="#!">Dashboard Ecommerce</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <!-- [ breadcrumb ] end -->
            <div class="main-body">
              <div class="page-wrapper">
                <!-- [ Main Content ] start -->
                <div class="row">
                  <!-- [ full width-table ] start -->
                  <div class="col-xl-12 col-md-12">
                    <div class="card code-table">
                      <div class="card-header">
                        <h5>Orders List</h5>
                        <div class="card-header-right">
                          <div class="btn-group card-option">
                            <button
                              type="button"
                              class="btn dropdown-toggle"
                              data-toggle="dropdown"
                              aria-haspopup="true"
                              aria-expanded="false"
                            >
                              <i class="feather icon-more-horizontal"></i>
                            </button>
                            <ul
                              class="
                                list-unstyled
                                card-option
                                dropdown-menu dropdown-menu-right
                              "
                            >
                              <li class="dropdown-item full-card">
                                <a href="#!"
                                  ><span
                                    ><i class="feather icon-maximize"></i>
                                    maximize</span
                                  ><span style="display: none"
                                    ><i class="feather icon-minimize"></i>
                                    Restore</span
                                  ></a
                                >
                              </li>
                              <li class="dropdown-item minimize-card">
                                <a href="#!"
                                  ><span
                                    ><i class="feather icon-minus"></i>
                                    collapse</span
                                  ><span style="display: none"
                                    ><i class="feather icon-plus"></i>
                                    expand</span
                                  ></a
                                >
                              </li>
                              <li class="dropdown-item reload-card">
                                <a href="#!"
                                  ><i class="feather icon-refresh-cw"></i>
                                  reload</a
                                >
                              </li>
                              <li class="dropdown-item close-card">
                                <a href="#!"
                                  ><i class="feather icon-trash"></i> remove</a
                                >
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                      <div class="card-block pb-0">
                        <div class="table-responsive">
                          <table class="table table-hover">
                            <thead>
                              <tr>
                                <th>Order ID</th>
                                <th>User ID</th>
                                <th>Shipping Address</th>
                                <th>Price</th>
                                <th>Paid</th>
                                <th>Delivered</th>
                              </tr>
                            </thead>

                            <tbody>
                              <% orderlist.forEach(order=> { %>
                              <tr>
                                <td>
                                  <h6 class="mb-1"><%= order._id %></h6>
                                </td>
                                <td>
                                  <h6 class="mb-1"><%= order.user._id %></h6>
                                </td>

                                <td>
                                  <h6 class="m-b-1">
                                    <%= order.shippingAddress &&
                                    order.shippingAddress.address %>, <%=
                                    order.shippingAddress &&
                                    order.shippingAddress.city %>, <%=
                                    order.shippingAddress &&
                                    order.shippingAddress.country %>, <%=
                                    order.shippingAddress &&
                                    order.shippingAddress.postalCode %>
                                  </h6>
                                </td>
                                <td>
                                  <h6 class="mb-1"><%= order.totalPrice %></h6>
                                </td>
                                <td>
                                  <% if (order.isPaid) { %>
                                  <h6
                                    class="d-inline label theme-bg text-white"
                                  >
                                    <span
                                      data-id="<%= order._id %>"
                                      class="payToggle"
                                      >Paid</span
                                    >
                                  </h6>
                                  <% } %> <% if (!order.isPaid) { %>
                                  <h6
                                    class="d-inline label theme-bg2 text-white"
                                  >
                                    <span
                                      data-id="<%= order._id %>"
                                      class="payToggle"
                                      >Not Paid</span
                                    >
                                  </h6>
                                  <% } %>
                                </td>
                                <td>
                                  <% if (order.isDelivered) { %>
                                  <h6
                                    class="d-inline label theme-bg text-white"
                                  >
                                    <span
                                      data-id="<%= order._id %>"
                                      class="deliverToggle"
                                      >Delivered</span
                                    >
                                  </h6>
                                  <% } %> <% if (!order.isDelivered) { %>
                                  <h6
                                    class="d-inline label theme-bg2 text-white"
                                  >
                                    <span
                                      data-id="<%= order._id %>"
                                      class="deliverToggle"
                                      >Not Delivered</span
                                    >
                                  </h6>
                                  <% } %>
                                </td>
                              </tr>
                              <% }) %>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- [ full width-table ] end -->
                  <!-- [ earning chart ] end -->
                </div>
                <!-- [ Main Content ] end -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- [ Main Content ] end -->

    <!-- Warning Section start -->
    <!-- Older IE warning message -->
    <!--[if lt IE 11]>
      <div class="ie-warning">
        <h1>Warning!!</h1>
        <p>
          You are using an outdated version of Internet Explorer, please upgrade
          <br />to any of the following web browsers to access this website.
        </p>
        <div class="iew-container">
          <ul class="iew-download">
            <li>
              <a href="http://www.google.com/chrome/">
                <img
                  src="/public/dashboard/images/browser/chrome.png"
                  alt="Chrome"
                />
                <div>Chrome</div>
              </a>
            </li>
            <li>
              <a href="https://www.mozilla.org/en-US/firefox/new/">
                <img
                  src="/public/dashboard/images/browser/firefox.png"
                  alt="Firefox"
                />
                <div>Firefox</div>
              </a>
            </li>
            <li>
              <a href="http://www.opera.com">
                <img
                  src="/public/dashboard/images/browser/opera.png"
                  alt="Opera"
                />
                <div>Opera</div>
              </a>
            </li>
            <li>
              <a href="https://www.apple.com/safari/">
                <img
                  src="/public/dashboard/images/browser/safari.png"
                  alt="Safari"
                />
                <div>Safari</div>
              </a>
            </li>
            <li>
              <a
                href="http://windows.microsoft.com/en-us/internet-explorer/download-ie"
              >
                <img src="/public/dashboard/images/browser/ie.png" alt="" />
                <div>IE (11 & above)</div>
              </a>
            </li>
          </ul>
        </div>
        <p>Sorry for the inconvenience!</p>
      </div>
    <![endif]-->
    <!-- Warning Section Ends -->

    <!-- Required Js -->
    <script src="/public/dashboard/assets/js/vendor-all.min.js"></script>
    <script src="/public/dashboard/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="/public/dashboard/assets/js/pcoded.min.js"></script>
    <script src="/public/dashboard/assets/js/menu-setting.min.js"></script>

    <!-- amchart js -->
    <script src="/public/dashboard/assets/plugins/amchart/js/amcharts.js"></script>
    <script src="/public/dashboard/assets/plugins/amchart/js/gauge.js"></script>
    <script src="/public/dashboard/assets/plugins/amchart/js/serial.js"></script>
    <script src="/public/dashboard/assets/plugins/amchart/js/light.js"></script>
    <script src="/public/dashboard/assets/plugins/amchart/js/pie.min.js"></script>
    <script src="/public/dashboard/assets/plugins/amchart/js/ammap.min.js"></script>
    <script src="/public/dashboard/assets/plugins/amchart/js/usaLow.js"></script>
    <script src="/public/dashboard/assets/plugins/amchart/js/radar.js"></script>
    <script src="/public/dashboard/assets/plugins/amchart/js/worldLow.js"></script>

    <!-- dashboard-custom js -->
    <script src="/public/dashboard/assets/js/pages/dashboard-ecommerce.js"></script>

    <!-- dashboard ui modifiers -->
    <script src="/public/js/integrations/uiDashboardModifier.js"></script>
  </body>
</html>
